*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.maindiv{
    display: flex;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;


    
}
.course h1{
    font-size: 35px;
    font-weight: 600;
}
.course p{

    color: #3f3f3c;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0  0 20px 0px rgba(0,0,0,0.2);
}
@media (max-width:900px){
    .row{
        flex-direction: column;
    }
}
.hero-btn{
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: green;
}
.hero-btn:hover{
    border: 1px solid rgb(0, 0, 0);
    background: rgb(9, 56, 18);
    transition: 300ms;
}





.Db {
    display: flex;
    width: 100%;
    align-items: stretch;
    font-family: 'Poppins', sans-serif;
    background: #D9D9D9;
    /* overflow-y: scroll; */
  }
  
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; 
  
  /* body {
  }
  
  */
  /* a,
  a:hover,
  a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
  }
  
  */
  
  /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
  .sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(118, 14, 83, 1);
    color: #fff;
    margin-left: -250px;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    margin-left: 0;
    transition: 0.5s;
  }
  
  .sidebar-header {
    background: rgba(118, 14, 83, 1);
  }
  
  .sidebar-header h3 {
    color: #fff;
    padding: 1em;
  }
  
  .sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  .menu-open {
    background: #760E53;
  }
  
  /* .nav-item:hover {
      color: darkgreen;
      background: #fff;
  }
  
  */
  
  .items-menu {
    color: #fff;
    background: #760E53;
  }
  
  /* ADD IF REQUIRED */
  /* li a.dropdown-toggle::after {
      display: inline-flex;
      position: relative;
      left: 30%;
      top: 10%;
  }
  
  */
  
  .sidebar-header > span {
    position: relative;
    float: right;
    margin: 0.5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .side-menu {
    height: calc(100vh - 130px);
    overflow-y: scroll;
  }
  
  .side-menu::-webkit-scrollbar {
    width: 10px;
  }
  
  .side-menu::-webkit-scrollbar-thumb {
    background: #760E53;
    border-radius: 3px;
  }
  
  .side-menu::-webkit-scrollbar-thumb:hover {
    background:#760E53;
  }
  
  